[data-theme='radio'] {
    --text-scaling: 1.25;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: 'DM Sans', sans-serif;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: 'Archivo Black', sans-serif;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 0.375rem;
    --radius-container: 0.75rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(81.8% 0.06 196.02deg);
    --color-primary-100: oklch(74.32% 0.06 197.28deg);
    --color-primary-200: oklch(66.88% 0.06 195.76deg);
    --color-primary-300: oklch(59.1% 0.06 197.04deg);
    --color-primary-400: oklch(51.28% 0.06 195.39deg);
    --color-primary-500: oklch(43.03% 0.06 196.72deg);
    --color-primary-600: oklch(37.04% 0.05 197.14deg);
    --color-primary-700: oklch(30.79% 0.04 197.82deg);
    --color-primary-800: oklch(24.13% 0.03 195.34deg);
    --color-primary-900: oklch(17.06% 0.02 195.58deg);
    --color-primary-950: oklch(0% 0 none);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-light);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(100% 0 none);
    --color-secondary-100: oklch(96.49% 0 196.55deg);
    --color-secondary-200: oklch(93.17% 0.01 196.8deg);
    --color-secondary-300: oklch(89.53% 0.01 196.8deg);
    --color-secondary-400: oklch(86.16% 0.02 196.76deg);
    --color-secondary-500: oklch(82.54% 0.02 196.7deg);
    --color-secondary-600: oklch(75.29% 0.02 196.66deg);
    --color-secondary-700: oklch(67.61% 0.02 196.64deg);
    --color-secondary-800: oklch(60.04% 0.02 196.6deg);
    --color-secondary-900: oklch(51.88% 0.02 196.55deg);
    --color-secondary-950: oklch(43.67% 0.02 196.44deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-700: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(82.25% 0.11 51.87deg);
    --color-tertiary-100: oklch(74.97% 0.11 51.71deg);
    --color-tertiary-200: oklch(67.54% 0.11 51.42deg);
    --color-tertiary-300: oklch(60.11% 0.11 50.09deg);
    --color-tertiary-400: oklch(52.37% 0.11 49.18deg);
    --color-tertiary-500: oklch(44.49% 0.11 47.31deg);
    --color-tertiary-600: oklch(39.56% 0.1 44.92deg);
    --color-tertiary-700: oklch(34.5% 0.09 41.98deg);
    --color-tertiary-800: oklch(29.33% 0.09 36.68deg);
    --color-tertiary-900: oklch(23.98% 0.08 33.16deg);
    --color-tertiary-950: oklch(17.9% 0.07 29.23deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(91.68% 0.09 153.89deg);
    --color-success-100: oklch(84.19% 0.09 154.44deg);
    --color-success-200: oklch(76.76% 0.09 154.12deg);
    --color-success-300: oklch(69% 0.09 154.2deg);
    --color-success-400: oklch(61.22% 0.09 153.65deg);
    --color-success-500: oklch(53% 0.09 153.71deg);
    --color-success-600: oklch(46.6% 0.08 152.13deg);
    --color-success-700: oklch(40% 0.08 150.88deg);
    --color-success-800: oklch(33.05% 0.07 148.92deg);
    --color-success-900: oklch(25.8% 0.06 146.71deg);
    --color-success-950: oklch(17.73% 0.06 142.5deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-light);
    --color-success-contrast-600: var(--color-success-contrast-light);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(98.12% 0.1 108.17deg);
    --color-warning-100: oklch(92.36% 0.11 100.06deg);
    --color-warning-200: oklch(86.52% 0.11 92.49deg);
    --color-warning-300: oklch(80.78% 0.11 84.22deg);
    --color-warning-400: oklch(74.98% 0.12 76.85deg);
    --color-warning-500: oklch(69.37% 0.13 69.05deg);
    --color-warning-600: oklch(62.15% 0.12 65.85deg);
    --color-warning-700: oklch(54.91% 0.11 63.05deg);
    --color-warning-800: oklch(47.14% 0.1 58.73deg);
    --color-warning-900: oklch(39.44% 0.09 53.96deg);
    --color-warning-950: oklch(31.27% 0.09 47.85deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-light);
    --color-warning-contrast-600: var(--color-warning-contrast-light);
    --color-warning-contrast-700: var(--color-warning-contrast-light);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(85.73% 0.08 32.44deg);
    --color-error-100: oklch(78.89% 0.09 30.81deg);
    --color-error-200: oklch(72% 0.09 28.71deg);
    --color-error-300: oklch(65.06% 0.1 28.71deg);
    --color-error-400: oklch(58.04% 0.11 27.39deg);
    --color-error-500: oklch(51.02% 0.12 27.29deg);
    --color-error-600: oklch(45.21% 0.11 27.38deg);
    --color-error-700: oklch(39.43% 0.1 26.82deg);
    --color-error-800: oklch(33.16% 0.1 26.4deg);
    --color-error-900: oklch(27.08% 0.09 26.2deg);
    --color-error-950: oklch(20.16% 0.08 29.23deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-light);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(100% 0 none);
    --color-surface-100: oklch(93.15% 0 67.89deg);
    --color-surface-200: oklch(86.37% 0 91.3deg);
    --color-surface-300: oklch(79.36% 0.01 67.77deg);
    --color-surface-400: oklch(72.29% 0.01 80.68deg);
    --color-surface-500: oklch(64.83% 0.01 78.24deg);
    --color-surface-600: oklch(57.78% 0.01 78.23deg);
    --color-surface-700: oklch(50.41% 0.01 84.56deg);
    --color-surface-800: oklch(42.61% 0.01 73.62deg);
    --color-surface-900: oklch(34.59% 0.01 80.66deg);
    --color-surface-950: oklch(26.18% 0.01 80.61deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-dark);
    --color-surface-contrast-600: var(--color-surface-contrast-dark);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}