.content {
    display: flex;
    background-color: var(--color-surface-100);
    height: fit-content;
    min-height: 100%;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.2);
}

.container {
    width: 100%;
}

svg {
    height: 1.5rem;
    transform: rotate(180deg);
    margin-right: 0.5rem;
    cursor: pointer;
}