table, td {
    border-collapse: collapse;
}

table {
    width: 100%;
}

thead {
    background-color: var(--color-primary-500);
    color: var(--color-surface-50);
}

th, td {
    padding: 1rem;
    text-align: start;
}

tbody {
    tr {
        &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.03);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.06);
            cursor: pointer;
        }
    }
}